* {
  margin: 0px;
  text-decoration: none;
  border-collapse: none;
  list-style: none;
  padding: 0px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
}

.main_wrap {
  min-width: 1920px;
}

header {
  justify-content: center;
  width: 100%;
  height: 724px;
  background-image: url("main_source/background_img.jpg");
  background-size: cover;
}

.nav {
  margin: 0px auto 0px auto;
  width: 1300px;
  height: 70px;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
}

.nav > ul > form > input {
  width: 450px;
  height: 70px;
  border: none;
  background-color: rgba(0, 0, 0, 30%);
  color: white;
  font-size: 50px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.nav > ul > form > button {
  width: 50px;
  height: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 30%);
  border: none;
}
.nav > ul > form > button:active {
  width: 50px;
  height: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 50%);
  border: none;
}

#ser_img {
  margin-left: 10px;
  display: block;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

#per_img,
#home_img {
  align-items: center;
  display: block;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.center_text {
  margin: 240.5px auto;
  text-align: center;
}

.center_text > h1 {
  font-size: 48px;
}
.center_text > h4 {
  font-size: 25px;
}

.center_text > h1,
.center_text > h4 {
  color: black;
}

.content_wrap {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 300px;
  margin: 0 auto 0 auto;
}

.content > .post {
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  height: 260px;
  width: 250px;
  border: 3px solid black;
}

.content > div:first-child {
  margin-left: 0px;
}

.content > div:last-child {
  margin-right: 0px;
}

.post_text {
  width: 100%;
  margin: 10px auto;
}

.post_text > h4 {
  line-height: 150%;
}

.post_text > h5 {
  line-height: 170%;
}

.post_img {
  width: 200px;
  height: 150px;
  border: black solid 1px;
  background-color: ghostwhite;
}

#pro_img {
  display: block;
  margin: -10px auto;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.footer {
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}

.footer > p {
  font-size: 13px;
}
