* {
  margin: 0px;
  text-decoration: none;
  border-collapse: none;
  list-style: none;
  padding: 0px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  justify-content: center;
  width: 100%;
  height: 724px;
  background-color: wheat;
}

.nav {
  margin-top: 30px;
  margin: 0px auto 0px auto;
  width: 1300px;
  height: 70px;
  background-color: teal;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
}

.nav > ul > input {
  width: 500px;
  height: 70px;
  border: none;
  background-color: rgba(#ffffff 0);
}

.center_text {
  width: 100%;
  margin: 240.5px auto;
  text-align: center;
}

.center_text > h1 {
  font-size: 48px;
}
.center_text > h4 {
  font-size: 25px;
}

.center_text > h1,
.center_text > h4 {
  color: white;
}

.content_wrap {
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1300px;
  height: 300px;
  margin: 0 auto 0 auto;
}

.content > .post {
  margin-left: 50px;
  margin-right: 50px;
  height: 260px;
  width: 250px;
  background-color: green;
  border:3px solid black;
}

.content > div:first-child {
  margin-left: 0px;
}

.content > div:last-child {
  margin-right: 0px;
}
