* {
  margin: 0px;
  text-decoration: none;
  border-collapse: none;
  list-style: none;
  padding: 0px;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  background-color: rgb(241, 242, 246);
}
.main_wrap {
  min-width: 1440px;
  min-height: 1024px;
}

header {
  justify-content: center;
  width: 100%;
  height: 550px;
  display: flex;
  background-image: url("source\(남영재\)/background-buzzricksons.jpg");
  background-size: cover;
}

.nav {
  margin: 0px auto 0px auto;
  width: 1300px;
  height: 70px;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
}

.nav > ul > form > input {
  width: 450px;
  height: 70px;
  border: none;
  background-color: rgba(0, 0, 0, 10%);
}

.nav > ul > form > button {
  width: 50px;
  height: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 10%);
  border: none;
}

#ser_img {
  margin-left: 10px;
  display: block;
  height: 30px;
  width: 30px;
  object-fit: cover;
}

#per_img,
#home_img {
  align-items: center;
  display: block;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.title {
  margin: 150px auto;
  text-align: center;
}

.title > h1 {
  font-size: 60px;
}

.title > h4 {
  font-size: 40px;
}

.title > h1,
.title > h4,
.title > h6 {
  color: white;
  font-family: "Playfair Display", serif;
}

.content_wrap {
  width: 100%;
}

.content {
  padding: 10px 20px 15px 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 2);
  justify-content: center;
  align-items: center;
  width: 1260px;
  margin: 0 auto 0 auto;
  background-color: white;
}

.first_paragraph {
  margin: 60px 100px 40px 100px;
}

.second_paragraph,
.third_paragraph {
  margin: 20px 100px 40px 100px;
}
.para,
.summary,
.img_ex {
  font-family: "Playfair Display", serif;
}
.para::first-letter {
  font-size: 30px;
}
.summary {
  font-size: 13px;
  color: gray;
}
.img_ex {
  font-size: 17px;
}

.second_paragraph > ul {
  display: flex;
}
.para_img {
  width: 500px;
  height: 400px;
  margin-left: 50px;
}

.footer {
  min-width: 1440px;
  display: flex;
  flex-direction: column;
}

.footer > div > p {
  font-size: 13px;
}
