body {
  margin: 0;
  font-family: sans-serif;
  height: 1500px;
  position: relative;
  background-color: #EFE7E3;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  width: 100%;
  height: 724px;
  background-color: wheat;
}

.nav {
  position: fixed;
  margin-top: 30px;
  margin: 0px auto 0px auto;
  width: 1300px;
  height: 70px;
}

.nav > ul {
  display: flex;
  justify-content: space-between;
}

.nav > ul > form > input {
  width: 450px;
  height: 70px;
  border: none;
  background-color: rgba(0, 0, 0, 10%);
}

.nav > ul > form > button {
  width: 50px;
  height: 70px;
  position: absolute;
  background-color: rgba(0, 0, 0, 10%);
  color: white;
  border: none;
}

.menu-bar {
  position: fixed;
  border: 0;
  background-color: #2B3856;
  display: block;
  width: 200px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index {
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* 목차 */
.index h3 {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}
/* 목차 각 항목 반응형 커서 */
.index h3:hover {
  font-size: 1.1em;
  opacity: 1;
  text-shadow: 0.7px 0.7px 0.7px #000;
}

.frame{
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}


/* INFO Section*/

/*profile-section*/
.profile-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 100px 100px;
}

#profile-picture{
  width: 400px;
  margin-right: 60px;
}

.introduction>h2{
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
}

.introduction>p{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 40px;
}

#capability{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  line-height: 30px;
}

/*value section*/
.value-menu{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  margin: 30px 100px;
}

.value-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 100px 150px;
  margin-top: 20px;
}

.value{
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  align-items: center;

}

.value-icon{
  width: 100px;
  height: 100px;
  border: 2px solid #C2B4AB;
  border-radius: 100px;
  padding: 15px;
}

.value-intro{
  margin-left: 30px;
}

.value-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.value-exp{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0px;
}
